#logo{
    display: inline-block;
    margin: 8px 18px;
    padding: 2px 12px
}


ul{
       position: relative;
       list-style: none;
       text-decoration: none;
       display: flex;
       margin: 12px 0px;
       padding: 20px 40px;
       float: right;
       float: right;
}
ul li{
    list-style: none;
    display: block;
    text-align: center;
}

ul li a{
    text-decoration: none;
    padding: 0px 45px;
    display: block;
    margin: 5px 20px;
}

#details{
    float: right;
}

#img img{
    position: absolute;
    display: inline-block;
    height: 500px;

}

.container{
    margin: 111px 178px;
    padding: 0px 81px;
}

#Login{
    border-radius: 20px;
    margin: 25px 55px;
    padding: 10px 40px;
}

#text{
    border-radius: 20px;
    margin: 25px 55px;
    padding: 10px 40px;
}
#pswd{
    border-radius: 20px;
    margin: 25px 55px;
    padding: 10px 40px;
}


.btn{
    border-radius: 15px;
    margin: 4px 127px;
    padding: 8px 22px;
    background-color:rgb(rgba(0, 225, 255, 0.945), green, blue);
    cursor:pointer;

}

.btn:hover{
background-color: white;
color: yellow;
}

.icon:hover{
    background-color: blue;
}

